/* Base styles */
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 20px;
    background: #f8f9fa; /* Light pastel background */
    color: #495057; /* Soft dark gray for text */
    margin: 0;
}

/* Hero section */
.hero {
    background-image: url('path-to-your-hero-image.jpg'); /* Add your hero image path */
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f9fa; /* Light pastel color for text for contrast against a dark image */
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Text shadow for better readability */
}

/* The container that displays the Bible verse */
.verse-container {
    background: #e2f0cb; /* Pastel green */
    color: #495057; /* Soft dark gray for text */
    margin: 20px auto;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
}

/* Unified styles for input and button */
.contact-form input,
.contact-form button,
#nameInput,
button {
    background: #fff; /* White background */
    color: #495057; /* Soft dark gray for text */
    border: 1px solid #ced4da; /* Border color */
    margin: 10px 0;
    padding: 15px;
    width: 90%;
    max-width: 400px;
    border-radius: 20px; /* More pronounced rounded corners for a modern look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hover and focus styles for button for interactivity */
button:hover,
button:focus {
    background-color: #b8d8d8; /* Pastel blue for hover state */
    color: #495057;
    outline: none;
}

/* Follow-up questions section */
.follow-up {
    background: #fef7dd; /* Pastel yellow */
    color: #495057;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

/* Button in the follow-up section */
.button {
    background-color: #ffafcc; /* Pastel pink */
    color: #495057;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ffc8dd; /* A lighter shade of pastel pink on hover */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .hero {
        height: 30vh;
    }

    .verse-container,
    .contact-form input,
    .contact-form button,
    #nameInput,
    button,
    .follow-up {
        width: 100%;
        border-radius: 10px; /* Adjust border-radius for mobile */
    }
}
